<app-nav
  [knowledges]="knowledges"
  [updatedKnowledge]="updatedKnowledge"> 
</app-nav>
<app-intent
  *ngIf="componentParams.onScreen === 'intent'"
  class="component intent"
  [activeIntent]="activeIntent"
>
</app-intent>
<app-keyword
  *ngIf="componentParams.onScreen === 'keyWord'"
  class="component"
  [activeKeyWord]="activeKeyWord"
>
</app-keyword>
<app-create-intent
  *ngIf="componentParams.onScreen === 'addIntent'"
  class="component intent"
  [knowledgeId]="componentParams.knowledgeId"
>  
</app-create-intent>
<app-new
    *ngIf="componentParams.onScreen === 'new_knwldge'"
    class="component"
>
</app-new>
<app-new-keyword
  *ngIf="componentParams.onScreen === 'addKeyWords'"
  class="component intent"
  [knowledgeId]="componentParams.knowledgeId"
> 
</app-new-keyword>
<app-test
  *ngIf="componentParams.onScreen === 'test'"
  class="component"
  [knowledges]="knowledges"
>
</app-test>
<app-app-list
  *ngIf="componentParams.onScreen === 'apps'"
  class="component"
  [knowledges]="knowledges"
>
  
</app-app-list>
