.knw {
  width: 40%;
  border: solid;
  border-width: thin;
  border-color: #673ab7d9;
  border-radius: 5px;
  display: inline-table;
  margin-right: 2%;
  padding:  2%;
}

.sub-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  background-color: #530dd063;
  padding: 3%;
  border-radius: 5px;
}

.app-name {
  width: 100%;
}

mat-card-actions {
  align-content: flex-end;
}

mat-card {
  width: 600px;
}

h3 {
  padding-top: 2%;
}

.token {
  margin-left: 2%;
  border-style: solid;
  border-width: thin;
  padding: 1%;
  border-radius: 5px;
  border-color: #5c21c5;
  min-width: 80%;
  display: inline-block;
}

.token-button {
  background-color: #bca1ed;
}

.copie-button {
  background-color: #bca1ed;
  margin-left: 10%;
}