<mat-card class="container">
  <form class="form">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="data.email"
        type="email"
        placeholder="Email"
        [formControl]="emailControl">
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field><br><br>
    <mat-form-field>
      <input
        [(ngModel)]="data.password"
        matInput
        type="password"
        placeholder="Password"
        [formControl]="pswdControl">
        <mat-error *ngIf="pswdControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field><br>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="emailControl.invalid || pswdControl.invalid"
    >
      Connect
    </button>
  </form>
</mat-card>
