/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component {
  margin-left: 18%;
  margin-top: 2%;
  display: inline-block;
}

.intent {
  width: 50%;
}

.error-message {
  margin-top: 5px;
}